<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Country:<%=obj.Country%></h2>
    <h2>Date:<%=obj.Date%></h2>

    <form action="/details/<%=obj.id%>" method="get">
        <input type="hidden" name="confirmed" value="<%=obj.Country%>">
        <input type="hidden" name="deaths" value="<%=obj.Date%>">
        <input type="submit" value="VIEW DETAILS">
        </form>
</body>
</html>